.turn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0.6032302072222955px 0.6032302072222955px -1.25px rgba(0, 0, 0, 0.18), 0px 2.290210571630906px 2.290210571630906px -2.5px rgba(0, 0, 0, 0.15887), 0px 10px 10px -3.75px rgba(0, 0, 0, 0.0625);
    background-color: var(--color-white);
    overflow: hidden;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 1.0625rem;
    min-height: 346px;
    flex-grow: 1;

    &.turn-edit{
        background-color: #dbecff;
    }

    &__btn{
        color: var(--color-text);
        font-size: 1.0625rem;
    }

    &__footer-edit{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    &__body {
        box-sizing: border-box;
        flex-shrink: 0;
        min-height: 208px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: auto;
        background-color: rgba(255, 255, 255, 0);
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
    }

    &__body-aditionalinfo {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 10px;

        &-price{
            flex-shrink: 0;
            white-space: pre;
            position: relative;
            font-weight: 600;
            font-style: normal;
            font-family: "Albert Sans", sans-serif;
            color: #579bfa;
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 1.2;
        }

        &-inforegister{
            flex-shrink: 0;
            white-space: pre;
            position: relative;
            font-weight: 300;
            font-style: normal;
            font-family: "Albert Sans", sans-serif;
            color: #292d5c;
            font-size: 15px;
            letter-spacing: 0px;
            line-height: 1.2;
        }
    }

    &__body-dates, &__body-dates-edit {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: nowrap;
        gap: 15px;

        p{
            font-size: 18px;
        }

        &-edit{
            p{
                display: flex;
                gap: 7px;
            }
        }
    }

    &__header {
        flex-shrink: 0;
        width: 100%;
        height: min-content; /* 43px */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(153, 238, 255, 0);
        overflow: hidden;
        position: relative;
        padding: 0px 0px 0px 0px;
        align-content: center;
        flex-wrap: nowrap;
    }

    &__header-btns {
        flex-shrink: 0;
        // width: min-content; /* 149px */
        // height: min-content; /* 43px */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        align-content: center;
        flex-wrap: nowrap;
        gap: 10px;

        .turn__btn{
            cursor: pointer;
            box-sizing: border-box;
            flex-shrink: 0;
            width: 43px;
            height: 43px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #f3f5ff;
            overflow: hidden;
            position: relative;
            padding: 0px 0px 0px 0px;
            align-content: center;
            flex-wrap: nowrap;
            gap: 0;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
            border: 2px solid rgba(41, 45, 92, 0.12);

            &.confirm{
                background-color: var(--color-green);
                color: #4FC440;
                border: 2px solid #4FC440;
            }
            &.cancel{
                background-color: var(--color-red-cancel);
                border: 2px solid #C44040;
                color: #C44040;
            }
        }
    }

    &__header-place, &__header-place-edit {
        flex-shrink: 0;
        // width: auto; /* 208px */
        // height: auto; /* 42px */
        white-space: pre;
        position: relative;
        font-weight: 700;
        font-style: normal;
        font-family: "Albert Sans", sans-serif;
        color: #292d5c;
        font-size: 35px;
        letter-spacing: 0px;
        line-height: 1.2;

        &-edit{
            width: 75%;
        }
    }

    @media screen and (max-width: 660px) {
        min-height: auto;
        &__header-place, &__header-place-edit{ font-size: 24px; }
        &__header-btns{
            gap: 5px;
            .turn__btn{
                width: 35px;
                height: 35px;
                .icon{
                    font-size: 15px;
                }
            }
        }

        &__body{
            margin-top: 1.5625rem;
            min-height: auto;
            justify-content: flex-start;
            gap: 35px;
        }

        &__body-dates, &__body-dates-edit{
            gap: 12px;
            p{ font-size: 14px; }
        }

        &__body-aditionalinfo{
            &-price{ font-size: 14px; }
            &-inforegister{ font-size: 12px;}
        }

        &__header-place, &__header-place-edit{

            &-edit{
                width: 60%;
            }
        }
    }
}