.turn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 27px;
    background-color: #ffffff;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    justify-self: start;
    gap: 32px;
    align-self: start;
    align-content: flex-start;
    border-radius: 9px;
    border: 1px solid #dedede;

    &.turn-edit{
        max-height: 300px;
    }

    &__header{
        width: 100%;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        align-content: center;

        &-btns{
            display: flex;
            gap: 10px;
            position: absolute;
            right: 0;
        }

        &-menu{
            position: absolute;
            top: -3px;
            right: 0px;

            &-btn{
                font-size: 30px;
                color: #BDCBDB;
                cursor: pointer;
            }

            &-options{
                background-color: #ffffff;
                border: 1px solid #ccc;
                display: none;
                list-style: none;
                margin: 0;
                position: absolute;
                right: 0;
                top: 100%;
                z-index: 1;
                border-radius: 9px;

                &.show{
                    display: block;
                }

                li{
                    cursor: pointer;
                    padding: 12px 18px;
                    border-radius: 7px;
                }

                li:hover{
                    background: #e9e8ff;
                }
            }
        }

        p, &-place-edit{
            flex-shrink: 0;
            font-weight: 700;
            color: #000000;
            font-size: 25px;
            resize: none;
            overflow: hidden;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }
    }

    &__body{
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1 0 0px;
        align-content: flex-start;
        gap: 24px;

        &-infoturn, &-dates-edit{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            gap: 17px;

            &-date, &-income, &-turnoff, > div{
                svg{
                    width: auto;
                    color: #A6B4C4;
                }
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 10px;
                color: #5C6A7A;
                height: 20px;
            }
        }

        &-aditionalinfo, &-aditionalinfo-edit{
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex: 1 0 0px;
            align-content: flex-start;
            gap: 10px;

            &-price, &-edit-priceshift{
                font-weight: 600;
                color: #5852f2;
                font-size: 15px;
            }
            &-inforegister{
                font-weight: 300;
                color: #5c6a7a;
                font-size: 12px;
            }

            &-edit-typeshift-radios{
                display: flex;
                gap: 20px;
            }
        }
    }

    @media screen and (max-width: 345px){
        padding: 15px;
        gap: 18px;
        min-height: 228px;

        &__header{

            height: 25px;

            &-menu{
                top: 0px;
                &-btn{
                    font-size: 19px;
                }
            }


            p, &-place-edit{
                font-size: 18px;
            }
        }

        &__body{
            gap: 17px;

            &-infoturn, &-dates-edit{
                gap: 3px;
                &-date, &-income, &-turnoff, > div{
                    font-size: 12px;
                }
            }
    
            &-aditionalinfo, &-aditionalinfo-edit{
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex: 1 0 0px;
                align-content: flex-start;
                gap: 10px;
    
                &-price, &-edit-priceshift{
                    font-size: 12px;
                }
    
                &-edit-typeshift-radios{
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}