.selectlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: var(--color-white);
    align-content: center;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-grey);
    color: var(--color-grey);
    font-weight: 500;

    @media screen and (max-width: 660px) {
        font-size: 14px;
    }
}