.selectlist{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    background-color: var(--color-white);
    align-content: center;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-grey);
    color: var(--color-grey);
    font-weight: 500;
}