$font: 'Albert Sans', sans-serif;
:root{
    --color-text: #292D5C;
    --color-bg: #F3F5FF;
    --color-blue: #579BFA;
    --color-grey: #9DA0AA;
    --color-light-blue: #D1E4FF;
    --color-white: #ffffff;
    --color-red: #FFADAD;
    --border-radius: 0.75rem;
    --pading-pc: 2.1875rem;
    --pading-mb: 0.9375rem;
    --color-red-cancel: #FFE0E0;
    --color-green: #E6FFE0;
}