.header {
    box-sizing: border-box;
    width: 100%;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--pading-pc);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);
    align-content: center;
    

    &__btn-cerrarsesion {
        background-color: var(--color-light-blue);
        color: var(--color-blue);
        padding: 0.75rem;
        border-radius: var(--border-radius);
        border: 0.125rem solid var(--color-blue);
        cursor: pointer;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: nowrap;
        gap: 0.875rem;
    }

    &__logo-h1 {
        flex-shrink: 0;
        font-weight: 600;
        color: var(--color-text);
        font-size: 1.5rem;
    }

    &__logo-icon {
        font-size: 2rem;
    }

    @media screen and (max-width: 41.25rem){
        padding: var(--pading-mb);
        &__logo-h1{ font-size: 1.125rem; }
        &__logo-icon{ font-size: 1.5rem; }
        &__btn-cerrarsesion{
            padding: 0.5rem;
        }
    }
}