.login{

    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;

    &__h1{
        font-weight: 600;
        color: var(--color-text);
        font-size: 2.375rem;
        letter-spacing: -1.5px;
        width: 100%;
    }
    &__btn{
        width: 370px;
        height: 75px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0.6032302072222955px 0.6032302072222955px -1.25px rgba(0, 0, 0, 0.18), 0px 2.290210571630906px 2.290210571630906px -2.5px rgba(0, 0, 0, 0.15887), 0px 10px 10px -3.75px rgba(0, 0, 0, 0.0625);
        background-color: var(--color-white);
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: nowrap;
        gap: 1rem;
        border-radius: 1.0625rem;
    }
    &__btn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        gap: 1.25rem;
    }
    &__btn-icon{
        width: 2.5rem;
    }
    &__btn-label{
        flex-shrink: 0;
        width: auto; /* 244px */
        white-space: pre;
        position: relative;
        font-weight: 500;
        font-style: normal;
        font-family: "Albert Sans", sans-serif;
        color: var(--color-text);
        font-size: 24px;
        letter-spacing: 0px;
        line-height: 1.2;
    }
    &__logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0.875rem;
    }
    &__logo-icon{
        font-size: 3.815rem;
        color: var(--color-text);
        width: auto;
    }
    &__logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        gap: 1.75rem;
    }
    &__logo-label{
        position: relative;
        max-width: 25.9375rem;
        font-weight: 400;
        color: var(--color-text);
        font-size: 1.1875rem;
        text-align: center;
    }

    @media screen and (max-width: 32.5rem) {
        &__logo-icon{ font-size: 2.8125rem; }
        &__h1{ font-size: 1.5625rem; }
        &__logo-label{ 
            font-size: 14px; 
            max-width: 322px;
        }
        &__btn{
            width: 205px;
            height: 48px;
            border-radius: 0.625rem;
            gap: 0.5625rem;
        }
        &__btn-icon{
            width: 25px;
        }
        &__btn-label{
            font-size: 13px;
        }

    }
}